html body {
    font-family: 'Bodoni Moda', serif;
    background-color: #7f3434;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #b85151;
    width: 100%;
    height: 100px;
    padding: 20px;
    overflow: hidden;
}

h1 {
    color: white;
    letter-spacing: 2px;
}
  
h2 {
    color: white;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 6px;
}

h3 {
    color: white;
}

h4 {
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 20px;
  }

p {
    color: white;
    letter-spacing: 1px;
    line-height: 30px;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

.mobile-nav {
    margin-top: -125px;
    position: absolute;
    z-index: 1;
}

.mobile-nav h1 {
    margin-left: 20px;
    font-size: 45px;
    font-style: italic;
}

.bars {
    margin-left: 820px;
    margin-top: -100px;
}

.home {
    text-align: center;
}

.home h1 {
    margin-top: -20px;
    letter-spacing: 15px;
    font-weight: 900;
}

.footer {
    text-align: center;
    margin-top: 200px;
}

/* main css */

@media screen and (min-device-width: 800px) {

    .header {
        margin: 0;
        position: sticky;
        top: 0;
    }

    .home {
        margin-top: 200px;
    }

    .home h1 {
        font-size: 72px;
    }
      
    .mobile-home, .mobile-code, .mobile-writing {
        display: none;
    }

    /* nav menu */

    .nav {
        margin-top: -80px;
        margin-left: 600px;
        width: 50%;
        float: right;
    }
      
    .mobile-nav, .mobile-dropbtn {
        display: none;
    }
      
    .intro {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* mobile css */
@media screen and (max-device-width: 800px) {

    .hp, .code, .writing {
        display: none;
    }

    .home {
        margin-top: 400px;
        margin-bottom: 600px;
    }

    .home h1 {
        font-size: 90px;
    }
    
    .home h2 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 30px;
        letter-spacing: 4px;
    }

    h4 {
        font-size: 30px;
    }

    p {
        line-height: 40px;
        font-size: 35px;
    }

    .mobile-dropdown {
        margin-top: 100px;
        text-align: center;
    }

    .mobile-dropdown h3 {
        margin-top: 140px;
    }

    .mobile-dropdown h3 a {
        margin-bottom: 120px;
    }

    #mobile-dropbtn {
        color: white;
        padding: 16px;
        font-size: 20px;
      }
      
    #mobile-dropdown {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: #7f3434;
        color: white;
        overflow: hidden;
    }
      
    #mobile-dropdown a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
      
    #mobile-dropdown {
        display: none;
        transition: display .5s ease-out;
    }
      
      /* Menu Icon */

    .hamb {
        cursor: pointer;
        float: right;
        padding: 40px 20px;
    }
      
    .hamb-line {
        background: white;
        display: block;
        height: 4px;
        position: relative;
        width: 48px;
    }
      
    .hamb-line::before,.hamb-line::after {
        background: white;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .hamb-line::before {
        top: 15px;
    }

    .hamb-line::after {
        top: -15px;
    }
      
    .side-menu {
        display: none;
    }
      
      /* Toggle menu icon */
      
    .side-menu:checked ~ .hamb .hamb-line {
        background: transparent;
    }
      
    .side-menu:checked ~ .hamb .hamb-line::before {
        transform: rotate(-45deg);
        top: 0;
    }
      
    .side-menu:checked ~ .hamb .hamb-line::after {
        transform: rotate(45deg);
        top:0;
    }
      
    .nav {
        display: none;
        width: 0;
    }
      
    .footer {
        font-size: 9px;
    }      
}